*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Poppins,sans-serif;
}

body{
    background:#F8F6F0;
}

.contact{

    display:flex;
    justify-content:center;
    align-items:center;

    min-height:100vh;

}

form{

    width:500px;

    background:#E5E4E2;

    padding:40px;

    border-radius:15px;

    box-shadow:0 10px 30px rgba(0,0,0,.1);

}

h2{

    margin-bottom:25px;

}

input,
textarea{

    width:100%;

    padding:15px;

    margin-bottom:20px;

    border:1px solid #ddd;

    border-radius:8px;

}

button{

    width:100%;

    padding:15px;

    background:#c89b3c;

    color:white;

    border:none;

    border-radius:8px;

    cursor:pointer;

    font-size:16px;

}

button:hover{

    background:#af8227;

}